.logobox {
  font-weight: bold;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  height: 30px;
  line-height: 20px;
  padding: 10px;

  &:hover img {
    transform: rotate(20deg);
  }
}

.avatar {
  width: 100px;
  border-radius: 50%;
  border: 2px solid white;
  display: inline-block;
}
